<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>消费记录</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body data-type="generalComponents">
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="/assets/img/shoeslogo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">
    </div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick">禁言小张</span><span class="tpl-header-list-user-ico"><img src="/assets/img/user01.png"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="###" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>
<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            Shoes 列表
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index.html" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-user"></i>
                        <span>管理员</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> <!--新消息提示-->
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/adminController/AdminManageIndex">
                                <i class="am-icon-angle-right"></i>
                                <span>账户管理</span>
                                <i class="tpl-left-nav-content-ico am-fr am-margin-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <!-- 打开状态 a 标签添加 active 即可   -->
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                        <i class="am-icon-table"></i>
                        <span>客户管理</span>
                        <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display:block">
                        <li>
                            <!-- 打开状态 a 标签添加 active 即可   -->
                            <a href="/show_customer_info.html">
                                <i class="am-icon-angle-right"></i>
                                <span>客户信息</span>
                            </a>
                            <a href="/show_recharge_record.html">
                                <i class="am-icon-angle-right"></i>
                                <span>充值记录</span>
                            </a>
                            <a href="/show_expense_record.html" class="active">
                                <i class="am-icon-angle-right"></i>
                                <span>消费记录</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-wpforms"></i>
                        <span>服务管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/show_service.html">
                                <i class="am-icon-angle-right"></i>
                                <span>服务信息</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-wpforms"></i>
                        <span>套餐管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/show_set_meal.html">
                                <i class="am-icon-angle-right"></i>
                                <span>套餐信息</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">客户信息</div>
        <ol class="am-breadcrumb">
            <li><a href="/adminController/SuccessIndex" class="am-icon-home">首页</a></li>
            <li>客户管理</li>
            <li class="am-active">消费记录</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 消费记录
                </div>
            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}">
                            <input type="text" class="am-form-field" id="updateDate" placeholder="  搜索日期" readonly>
                            <span class="am-input-group-btn am-datepicker-add-on">
                                <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                            </span>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field" id="keyValue" placeholder="搜索姓名/手机号">
                            <span class="am-input-group-btn">
                                <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <table class="am-table am-table-striped am-table-hover table-main" id="expense_recordtable">
                            <thead>
                            <tr>
                                <th class="table-title">客户姓名</th>
                                <th class="table-type">手机号</th>
                                <th class="table-author am-hide-sm-only">服务名称</th>
                                <th class="table-author am-hide-sm-only">服务金额</th>
                                <th class="table-author am-hide-sm-only">消费金额</th>
                                <th class="table-author am-hide-sm-only">办理人</th>
                                <th class="table-date am-hide-sm-only">日期</th>
                                <th class="table-type">纠错</th>
                            </tr>
                            </thead>
                            <tbody><tr><td colspan="8" style="text-align: center;">暂无数据</td></tr></tbody>
                        </table>
                        <div class="am-cf"><div class="am-fr" id="expense_recordPage"></div></div>
                    </div>
                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>
    </div>
</div>
<div class="am-modal am-modal-prompt" tabindex="-1" id="delete_expense_record_model">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            <form class="am-form am-form-horizontal" id="delete_expense_record_form">
                <fieldset>
                    <legend>消费纠错</legend>
                    <div class="am-form-group" id="error_msg" style="color:red;font-size:15px;font-family: 黑体;display: none;"></div>
                    <div class="am-form-group">
                        <label for="delete_customerinfoName">客户姓名</label>
                        <input type="hidden" id="delete_expenseRecordId" name="expenseRecordId">
                        <input type="text" id="delete_customerinfoName" name="customerinfoName" readonly>
                    </div>
                    <div class="am-form-group">
                        <label for="delete_phone">手机号</label>
                        <input type="text" id="delete_phone" name="phone" readonly>
                    </div>
                    <div class="am-form-group">
                        <label for="delete_serviceName">服务名称</label>
                        <input type="text" id="delete_serviceName" name="serviceName" readonly>
                    </div>
                    <div class="am-form-group">
                        <label for="delete_servicePrice">服务金额</label>
                        <input type="text" id="delete_servicePrice" name="servicePrice" readonly>
                    </div>
                    <div class="delete_expenseMoney">
                        <label for="delete_expenseMoney">消费金额</label>
                        <input type="text" id="delete_expenseMoney" name="expenseMoney" readonly>
                    </div>
                    <div class="delete_expenseMoney">
                        <label for="delete_verificationCode">验证码</label>
                        <div>
                            <a id="verificationCode_img" onclick="flush_verificationCode()" style="display: inline-block;width:120px;height:40px;"><img data-src="verificationCodeController/generate_verifyCode" src="verificationCodeController/generate_verifyCode" /></a>
                            <input style="display: inline-block;width:75%;" type="text" id="delete_verificationCode" name="verificationCode">
                        </div>
                    </div>
                    <div class="delete_expenseMoney">
                        <label for="delete_errorCause">纠错原因</label>
                        <textarea rows="5" id="delete_errorCause" name="errorCause"></textarea>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    $(function(){
        find_expense_recordBykeyValueorupdateDate(1);
    });
    //键值改变时查询客户
    $("#keyValue").keyup(
        function()
        {
            find_expense_recordBykeyValueorupdateDate(1);
        }
    );
    //时间改变时查询客户
    $("#updateDate").change(
        function () {
            find_expense_recordBykeyValueorupdateDate(1);
        }
    );
    //查询客户消费记录
    function find_expense_recordBykeyValueorupdateDate(pageIndex)
    {
        var keyValue=$("#keyValue").val();
        var updateDate=$("#updateDate").val();
        $.ajax({
            url:"expense_recordController/find_expense_recordBykeyValueorupdateDate",
            dataType:"json",
            type:"post",
            data:{pageIndex:pageIndex,keyValue:keyValue,updateDate:updateDate},
            success:function(data)
            {
                if(data.result&&0<data.expense_record.length)
                {
                    var expense_recordPageHtml="<ul class='am-pagination tpl-pagination'>";
                    if(1!=data.currentIndex)
                        expense_recordPageHtml+="<li onclick='find_expense_recordBykeyValueorupdateDate("+(data.currentIndex-1)+")'><a href='javascript:;'>«</a></li>";
                    for(var i=data.currentIndex-4;i<data.currentIndex;i++)
                    {
                        if(i>0)
                            expense_recordPageHtml+="<li onclick='find_expense_recordBykeyValueorupdateDate("+i+")'><a href='javascript:;'>"+i+"</a></li>";
                    }
                    expense_recordPageHtml+="<li class='am-active'><a>"+data.currentIndex+"</a></li>";
                    var page=data.currentIndex+4;
                    if(page>data.pageCount)
                        page=data.pageCount;
                    for(var i=data.currentIndex+1;i<=page;i++)
                    {
                        expense_recordPageHtml+="<li onclick='find_expense_recordBykeyValueorupdateDate("+i+")'><a href='javascript:;'>"+i+"</a></li>";
                    }
                    if(data.pageCount!=data.currentIndex)
                        expense_recordPageHtml+="<li onclick='find_expense_recordBykeyValueorupdateDate("+(data.currentIndex+1)+")'><a href='javascript:;'>»</a></li>";
                    expense_recordPageHtml+="</ul>";
                    $("#expense_recordPage").html(expense_recordPageHtml);
                    var expense_recordtableHtml="";
                    for(var i=0;i<data.expense_record.length;i++)
                    {
                        expense_recordtableHtml+="<tr><td>"+data.expense_record[i].customer_info.customerinfoName+"</td><td>"+data.expense_record[i].customer_info.phone+"</td><td class='am-hide-sm-only'>"+data.expense_record[i].serviceName+"</td><td class='am-hide-sm-only'>"+data.expense_record[i].servicePrice+"</td><td class='am-hide-sm-only'>"+data.expense_record[i].expenseMoney+"</td><td class='am-hide-sm-only'>"+data.expense_record[i].admin.adminName+"</td><td class='am-hide-sm-only'>"+data.expense_record[i].updateDate+"</td>";
                        if("42e92020-10ad-4954-a94a-4e1f71673fda"==data.expense_record[i].stateId)
                            expense_recordtableHtml+="<td>"+data.expense_record[i].errorCause+"</td>";
                        else
                        expense_recordtableHtml+="<td><button class='am-btn am-btn-default am-btn-xs am-text-danger' data-expenseRecordId='"+data.expense_record[i].expenseRecordId+"' onclick='show_delete_expense_record_model(this)'><span class='am-icon-trash-o'></span> 纠错</button></td>";
                        expense_recordtableHtml+="</tr>";
                    }
                    $("#expense_recordtable tbody").html(expense_recordtableHtml);
                }
                else
                    $("#expense_recordtable tbody").html("<tr><td colspan='8' style='text-align: center;'>暂无数据</td></tr>");
            },
            error:function()
            {
                $("#expense_recordtable tbody").html("<tr><td colspan='8' style='text-align: center;'>暂无数据</td></tr>");
            }
        });
    }
    //纠错
    function show_delete_expense_record_model(obj)
    {
        var expenseRecordId=$(obj).attr("data-expenseRecordId");
        flush_verificationCode();
        $.ajax({
            url:"expense_recordController/find_expense_recordByexpenseRecordId",
            dataType:"json",
            type:"post",
            data:{expenseRecordId:expenseRecordId},
            success:function (data)
            {
                if(data.result)
                {
                    $("#delete_expenseRecordId").val(data.expense_record.expenseRecordId);
                    $("#delete_customerinfoName").val(data.expense_record.customer_info.customerinfoName);
                    $("#delete_phone").val(data.expense_record.customer_info.phone);
                    $("#delete_serviceName").val(data.expense_record.serviceName);
                    $("#delete_servicePrice").val(data.expense_record.servicePrice);
                    $("#delete_expenseMoney").val(data.expense_record.expenseMoney);
                    delete_expense_record();
                }
                else
                    show_alert("提示","抱歉,加载消费记录信息失败!");
            },
            error:function()
            {
                show_alert("提示","抱歉,加载消费记录信息失败!");
            }
        });
    }
    //删除消费记录
    function delete_expense_record()
    {
        $("#delete_expense_record_model").modal({
            relatedTarget: this,
            onConfirm: function (e)
            {
                var expenseRecordId=$("#delete_expenseRecordId").val();
                var errorCause=$("#delete_errorCause").val();
                var verificationCode=$("#delete_verificationCode").val();
                if(null!=verificationCode&&""!=verificationCode)
                {
                    $.ajax({
                        url:"verificationCodeController/check_verificationCode",
                        dataType:"json",
                        type:"post",
                        data:{verificationCode:verificationCode},
                        success:function(data)
                        {
                            if(data)
                            {
                                hide_error_msg();
                                if(null!=errorCause&&""!=errorCause)
                                {
                                    $.ajax({
                                        url:"expense_recordController/update_expense_record",
                                        dataType:"json",
                                        type:"post",
                                        data:{expenseRecordId:expenseRecordId,errorCause:errorCause},
                                        success:function(data)
                                        {
                                            if(data)
                                            {
                                                show_alert("提示","消息记录纠错成功!");
                                                find_expense_recordBykeyValueorupdateDate(1);
                                            }
                                            else
                                                show_alert("提示","抱歉,消息记录纠错失败,请重试!");
                                            clear_delete_expense_record();
                                        },
                                        error:function()
                                        {
                                            show_alert("提示","抱歉,消息记录纠错失败,请重试!");
                                            clear_delete_expense_record();
                                        }
                                    });
                                }
                                else
                                {
                                    show_alert("警告","纠错原因不能为空,请重新输入!");
                                    clear_delete_expense_record();
                                }
                            }
                            else
                                show_alert("警告","验证码输入错误,请重试!");
                        },
                        error:function()
                        {
                            show_error_msg("验证码检验失败,请重试!");
                        }
                    });
                }
                else
                    show_alert("警告","验证码不能为空,请输入!");
            },
            onCancel:function()
            {
                clear_delete_expense_record();
                hide_error_msg();
            }
        });
    }
    //当光标离开验证码文本框时校验
    $("#delete_verificationCode").blur(
        function()
        {
            var verificationCode=$(this).val();
            if(null!=verificationCode&&""!=verificationCode)
            {
                $.ajax({
                    url:"verificationCodeController/check_verificationCode",
                    dataType:"json",
                    type:"post",
                    data:{verificationCode:verificationCode},
                    success:function(data)
                    {
                        if(data)
                            hide_error_msg();
                        else
                            show_error_msg("验证码输入错误,请重试!");
                    },
                    error:function()
                    {
                        show_error_msg("验证码检验失败,请重试!");
                    }
                });
            }
            else
                show_error_msg("验证码不能为空,请输入!");
        }
    );
    //清除纠错消费记录文本框
    function clear_delete_expense_record()
    {
        $("#delete_expenseRecordId").val("");
        $("#delete_customerinfoName").val("");
        $("#delete_phone").val("");
        $("#delete_serviceName").val("");
        $("#delete_servicePrice").val("");
        $("#delete_expenseMoney").val("");
        $("#delete_errorCause").val("");
        $("#delete_verificationCode").val("");
    }
    //刷新验证码图片
    function flush_verificationCode()
    {
        var src=$("#verificationCode_img").children("img").attr("data-src");
        $("#verificationCode_img").children("img").attr("src",src+"?T="+Math.random());
    }
    //显示错误信息
    function show_error_msg(str)
    {
        $("#error_msg").css("display","block");
        $("#error_msg").text(str);
    }
    //隐藏错误信息
    function hide_error_msg()
    {
        $("#error_msg").css("display","none");
        $("#error_msg").text("");
    }
    /**
     * 具有确认按钮的提示框
     * @param state 状态
     * @param message 信息
     */
    function show_alert(state,message)
    {
        $("#my_alert").remove();
        $("body").append("<div class='am-modal am-modal-alert' tabindex='-1' id='my_alert'><div class='am-modal-dialog'><div class='am-modal-hd'>"+state+"</div><div class='am-modal-bd'>"+message+"</div><div class='am-modal-footer'><span class='am-modal-btn'>确定</span></div></div></div>");
        $('#my_alert').modal();
    }
</script>
</body>
</html>