<!doctype html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>充值记录</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body data-type="generalComponents">
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="/assets/img/shoeslogo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse" >

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">
                            <shiro:user>
                                <shiro:principal/>
                            </shiro:user>
                        </span>
                    <span class="tpl-header-list-user-ico"></span>👨
                </a>
                <ul class="am-dropdown-content">
                    <li id="updatePwd"><a href="#"><span class="am-icon-cog"></span> 修改密码</a></li>
                    <li><a href="/adminController/Exit"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="/adminController/Exit" class="tpl-header-list-link" style="background:#E1E3EA;"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>
<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            Shoes 列表
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">

                <li class="tpl-left-nav-item">
                    <a href="/adminController/SuccessIndex" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-user"></i>
                        <span>管理员</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> <!--新消息提示-->
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display:none;">
                        <li>
                            <a href="/adminController/AdminManageIndex">
                                <i class="am-icon-angle-right"></i>
                                <span>账户管理</span>
                                <i class="tpl-left-nav-content-ico am-fr am-margin-right"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/adminController/AdminManageIndex">
                                <i class="am-icon-angle-right"></i>
                                <span>账户管理</span>
                                <i class="tpl-left-nav-content-ico am-fr am-margin-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <!-- 打开状态 a 标签添加 active 即可   -->
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-table"></i>
                        <span>客户管理</span>
                        <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display:block">
                        <li>
                            <!-- 打开状态 a 标签添加 active 即可   -->
                            <a href="/show_customer_info.html">
                                <i class="am-icon-angle-right"></i>
                                <span>客户信息</span>
                            </a>
                            <a href="/show_recharge_record.html" class="active">
                                <i class="am-icon-angle-right"></i>
                                <span>充值记录</span>
                            </a>
                            <a href="/show_expense_record.html">
                                <i class="am-icon-angle-right"></i>
                                <span>消费记录</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-wpforms"></i>
                        <span>服务管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/show_service.html">
                                <i class="am-icon-angle-right"></i>
                                <span>服务信息</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-wpforms"></i>
                        <span>套餐管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/show_set_meal.html">
                                <i class="am-icon-angle-right"></i>
                                <span>套餐信息</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <div class="tpl-content-wrapper">
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li>客户管理</li>
            <li class="am-active">充值记录</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}">
                            <input type="text" class="am-form-field" id="updateDate" placeholder="  搜索日期" readonly>
                            <span class="am-input-group-btn am-datepicker-add-on">
                                <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                            </span>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field" id="keyValue" placeholder="搜索姓名/手机号">
                            <span class="am-input-group-btn">
                                <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <table class="am-table am-table-striped am-table-hover table-main" id="recharge_recordtable">
                            <thead>
                            <tr>
                                <th class="table-title">客户姓名</th>
                                <th class="table-type">手机号</th>
                                <th class="table-author am-hide-sm-only">充值金额</th>
                                <th class="table-author am-hide-sm-only">套餐名称</th>
                                <th class="table-author am-hide-sm-only">套餐金额</th>
                                <th class="table-author am-hide-sm-only">赠送金额</th>
                                <th class="table-author am-hide-sm-only">办理人</th>
                                <th class="table-date am-hide-sm-only">日期</th>
                                <th class="table-type">纠错</th>
                            </tr>
                            </thead>
                            <tbody><tr><td colspan="9" style="text-align: center;">暂无数据</td></tr></tbody>
                        </table>
                        <div class="am-cf"><div class="am-fr" id="recharge_recordPage"></div></div>
                    </div>
                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>
    </div>
</div>
<div class="am-modal am-modal-prompt" tabindex="-1" id="delete_recharge_record_model">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            <form class="am-form am-form-horizontal" id="delete_recharge_record_form">
                <fieldset>
                    <legend>消费纠错</legend>
                    <div class="am-form-group" id="error_msg" style="color:red;font-size:15px;font-family: 黑体;display: none;"></div>
                    <div class="am-form-group">
                        <label for="delete_customerinfoName">客户姓名</label>
                        <input type="hidden" id="delete_rechargeRecordId" name="rechargeRecordId">
                        <input type="text" id="delete_customerinfoName" name="customerinfoName" readonly>
                    </div>
                    <div class="am-form-group">
                        <label for="delete_phone">手机号</label>
                        <input type="text" id="delete_phone" name="phone" readonly>
                    </div>
                    <div class="am-form-group">
                        <label for="delete_setMealName">套餐名称</label>
                        <input type="text" id="delete_setMealName" name="setMealName" readonly>
                    </div>
                    <div class="am-form-group">
                        <label for="delete_setMealPrice">套餐金额</label>
                        <input type="text" id="delete_setMealPrice" name="setMealPrice" readonly>
                    </div>
                    <div class="delete_expenseMoney">
                        <label for="delete_rechargeMoney">充值金额</label>
                        <input type="text" id="delete_rechargeMoney" name="rechargeMoney" readonly>
                    </div>
                    <div class="delete_expenseMoney">
                        <label for="delete_givenPrice">赠送金额</label>
                        <input type="text" id="delete_givenPrice" name="givenPrice" readonly>
                    </div>
                    <div class="delete_expenseMoney">
                        <label for="delete_verificationCode">验证码</label>
                        <div>
                            <a id="verificationCode_img" onclick="flush_verificationCode()" style="display: inline-block;width:120px;height:40px;"><img data-src="verificationCodeController/generate_verifyCode" src="verificationCodeController/generate_verifyCode" /></a>
                            <input style="display: inline-block;width:75%;" type="text" id="delete_verificationCode" name="verificationCode">
                        </div>
                    </div>
                    <div class="delete_expenseMoney">
                        <label for="delete_errorCause">纠错原因</label>
                        <textarea rows="5" id="delete_errorCause" name="errorCause"></textarea>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>
<!--修改密码-->
<div class="am-modal am-modal-prompt" tabindex="-1" id="consumption_model1">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            <form class="am-form am-form-horizontal" id="consumption_form1">
                <fieldset>
                    <legend>修改密码</legend>
                    <div  class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">原密码</label>
                        <div class="am-u-sm-9">
                            <input name='oldPwd' type="password" id="oldPwd" placeholder="请输入">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">新密码</label>
                        <div class="am-u-sm-9">
                            <input name='newPwd' type="password" id="newPwd" placeholder="请输入6-16位数密码（数字加字母）">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" id="subUpdatePwd" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    $(function(){

        /**
         *  清空修改密码form表单，并关闭dialog
         * */
        function clearFormCloseDialog(){
            //清空表单
            $("#oldPwd").val("");
            $("#newPwd").val("");
            //关闭dialog
            $("#consumption_model1").modal('close');
        }


        /**
         * 修改密码点击事件
         */
        $("#updatePwd").click(function(){
            $('#consumption_model1').modal({
                relatedTarget: this,
                onCancel: function(e) {
                    clearFormCloseDialog();
                }
            });
        });

        /**
         * 修改密码
         */
        $("#subUpdatePwd").click(function(){
            var pPattern=/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/; //密码：6-16位字母加数字
            var oldPwd=$("#oldPwd").val();
            var newPwd=$("#newPwd").val();
            if(oldPwd==""){
                alert("请输入原密码");
                return false;
            }else if(!pPattern.test(newPwd)){
                alert("新密码请输入6-16位字母加数字");
                return false;
            }
            $.ajax({
                url:'/adminController/updateAdminPassword',
                type:'post',
                data:{
                    oldPwd:oldPwd,
                    newPwd:newPwd
                },
                dataType:'text',
                success:function(data){
                    alert(data);
                    if(data=="修改成功，请重新登陆"){
                        window.location.href="/adminController/Exit";
                    }
                }
            });
            return false;
        });

        find_recharge_recordBykeyValueorupdateDate(1);
    });
    //键值改变时查询客户
    $("#keyValue").keyup(
        function()
        {
            find_recharge_recordBykeyValueorupdateDate(1);
        }
    );
    //时间改变时查询客户
    $("#updateDate").change(
        function () {
            find_recharge_recordBykeyValueorupdateDate(1);
        }
    );
    //查询客户
    function find_recharge_recordBykeyValueorupdateDate(pageIndex)
    {
        var keyValue=$("#keyValue").val();
        var updateDate=$("#updateDate").val();
        $.ajax({
            url:"recharge_recordController/find_recharge_recordBykeyValueorupdateDate",
            dataType:"json",
            type:"post",
            data:{pageIndex:pageIndex,keyValue:keyValue,updateDate:updateDate},
            success:function(data)
            {
                if(data.result&&0<data.recharge_record.length)
                {
                    var recharge_recordPageHtml="<ul class='am-pagination tpl-pagination'>";
                    if(1!=data.currentIndex)
                        recharge_recordPageHtml+="<li onclick='find_recharge_recordBykeyValueorupdateDate("+(data.currentIndex-1)+")'><a href='javascript:;'>«</a></li>";
                    for(var i=data.currentIndex-4;i<data.currentIndex;i++)
                    {
                        if(i>0)
                            recharge_recordPageHtml+="<li onclick='find_recharge_recordBykeyValueorupdateDate("+i+")'><a href='javascript:;'>"+i+"</a></li>";
                    }
                    recharge_recordPageHtml+="<li class='am-active'><a>"+data.currentIndex+"</a></li>";
                    var page=data.currentIndex+4;
                    if(page>data.pageCount)
                        page=data.pageCount;
                    for(var i=data.currentIndex+1;i<=page;i++)
                    {
                        recharge_recordPageHtml+="<li onclick='find_recharge_recordBykeyValueorupdateDate("+i+")'><a href='javascript:;'>"+i+"</a></li>";
                    }
                    if(data.pageCount!=data.currentIndex)
                        recharge_recordPageHtml+="<li onclick='find_recharge_recordBykeyValueorupdateDate("+(data.currentIndex+1)+")'><a href='javascript:;'>»</a></li>";
                    recharge_recordPageHtml+="</ul>";
                    $("#recharge_recordPage").html(recharge_recordPageHtml);
                    var recharge_recordtableHtml="";
                    for(var i=0;i<data.recharge_record.length;i++)
                    {
                        recharge_recordtableHtml+="<tr><td>"+data.recharge_record[i].customer_info.customerinfoName+"</td><td>"+data.recharge_record[i].customer_info.phone+"</td><td class='am-hide-sm-only'>"+data.recharge_record[i].rechargeMoney+"</td>";
                        if(null==data.recharge_record[i].set_meal)
                            recharge_recordtableHtml+="<td class='am-hide-sm-only'>未符合套餐标准</td>";
                        else
                            recharge_recordtableHtml+="<td class='am-hide-sm-only'>"+data.recharge_record[i].set_meal.setMealName+"</td>";
                        recharge_recordtableHtml+="<td class='am-hide-sm-only'>"+data.recharge_record[i].setMealPrice+"</td><td class='am-hide-sm-only'>"+data.recharge_record[i].givenPrice+"</td><td class='am-hide-sm-only'>"+data.recharge_record[i].admin.adminName+"</td><td class='am-hide-sm-only'>"+data.recharge_record[i].updateDate+"</td>";
                        if("42e92020-10ad-4954-a94a-4e1f71673fda"==data.recharge_record[i].stateId)
                            recharge_recordtableHtml+="<td>"+data.recharge_record[i].errorCause+"</td>";
                        else
                            recharge_recordtableHtml+="<td><button class='am-btn am-btn-default am-btn-xs am-text-danger' data-rechargeRecordId='"+data.recharge_record[i].rechargeRecordId+"' onclick='show_delete_recharge_record_model(this)'><span class='am-icon-trash-o'></span> 纠错</button></td>";
                        recharge_recordtableHtml+="</tr>";
                    }
                    $("#recharge_recordtable tbody").html(recharge_recordtableHtml);
                }
                else
                    $("#recharge_recordtable tbody").html("<tr><td colspan='9' style='text-align: center;'>暂无数据</td></tr>");
            },
            error:function()
            {
                $("#recharge_recordtable tbody").html("<tr><td colspan='9' style='text-align: center;'>暂无数据</td></tr>");
            }
        });
    }
    //纠错
    function show_delete_recharge_record_model(obj)
    {
        var rechargeRecordId=$(obj).attr("data-rechargeRecordId");
        flush_verificationCode();
        $.ajax({
            url:"recharge_recordController/find_recharge_recordByrechargeRecordId",
            dataType:"json",
            type:"post",
            data:{rechargeRecordId:rechargeRecordId},
            success:function (data)
            {
                if(data.result)
                {
                    $("#delete_rechargeRecordId").val(data.recharge_record.rechargeRecordId);
                    $("#delete_customerinfoName").val(data.recharge_record.customer_info.customerinfoName);
                    $("#delete_phone").val(data.recharge_record.customer_info.phone);
                    $("#delete_setMealPrice").val(data.recharge_record.setMealPrice);
                    $("#delete_givenPrice").val(data.recharge_record.givenPrice);
                    $("#delete_rechargeMoney").val(data.recharge_record.rechargeMoney);
                    if(null!=data.recharge_record.setMealId&&""!=data.recharge_record.setMealId)
                        $("#delete_setMealName").val(data.recharge_record.set_meal.setMealName);
                    else
                        $("#delete_setMealName").val("未符合套餐标准");
                    delete_recharge_record();
                }
                else
                    show_alert("提示","抱歉,加载套餐记录信息失败!");
            },
            error:function()
            {
                show_alert("提示","抱歉,加载套餐记录信息失败!");
            }
        });
    }
    //删除消费记录
    function delete_recharge_record()
    {
        $("#delete_recharge_record_model").modal({
            relatedTarget: this,
            onConfirm: function (e)
            {
                var rechargeRecordId=$("#delete_rechargeRecordId").val();
                var errorCause=$("#delete_errorCause").val();
                var verificationCode=$("#delete_verificationCode").val();
                if(null!=verificationCode&&""!=verificationCode)
                {
                    $.ajax({
                        url:"verificationCodeController/check_verificationCode",
                        dataType:"json",
                        type:"post",
                        data:{verificationCode:verificationCode},
                        success:function(data)
                        {
                            if(data)
                            {
                                hide_error_msg();
                                if(null!=errorCause&&""!=errorCause)
                                {
                                    $.ajax({
                                        url:"recharge_recordController/update_recharge_record",
                                        dataType:"json",
                                        type:"post",
                                        data:{rechargeRecordId:rechargeRecordId,errorCause:errorCause},
                                        success:function(data)
                                        {
                                            if(data)
                                            {
                                                show_alert("提示","充值记录纠错成功!");
                                                find_recharge_recordBykeyValueorupdateDate(1);
                                            }
                                            else
                                                show_alert("提示","抱歉,充值记录纠错失败,请重试!");
                                            clear_delete_recharge_record();
                                        },
                                        error:function()
                                        {
                                            show_alert("提示","抱歉,充值记录纠错失败,请重试!");
                                            clear_delete_recharge_record();
                                        }
                                    });
                                }
                                else
                                {
                                    show_alert("警告","纠错原因不能为空,请重新输入!");
                                    clear_delete_recharge_record();
                                }
                            }
                            else
                                show_alert("警告","验证码输入错误,请重试!");
                        },
                        error:function()
                        {
                            show_error_msg("验证码检验失败,请重试!");
                        }
                    });
                }
                else
                    show_alert("警告","验证码不能为空,请输入!");
            },
            onCancel:function()
            {
                clear_delete_recharge_record();
                hide_error_msg();
            }
        });
    }
    //当光标离开验证码文本框时校验
    $("#delete_verificationCode").blur(
        function()
        {
            var verificationCode=$(this).val();
            if(null!=verificationCode&&""!=verificationCode)
            {
                $.ajax({
                    url:"verificationCodeController/check_verificationCode",
                    dataType:"json",
                    type:"post",
                    data:{verificationCode:verificationCode},
                    success:function(data)
                    {
                        if(data)
                            hide_error_msg();
                        else
                            show_error_msg("验证码输入错误,请重试!");
                    },
                    error:function()
                    {
                        show_error_msg("验证码检验失败,请重试!");
                    }
                });
            }
            else
                show_error_msg("验证码不能为空,请输入!");
        }
    );
    //清除纠错充值记录文本框
    function clear_delete_recharge_record()
    {
        $("#delete_rechargeRecordId").val("");
        $("#delete_customerinfoName").val("");
        $("#delete_phone").val("");
        $("#delete_setMealName").val("");
        $("#delete_setMealPrice").val("");
        $("#delete_givenPrice").val("");
        $("#delete_rechargeMoney").val("");
        $("#delete_errorCause").val("");
        $("#delete_verificationCode").val("");
    }
    //刷新验证码图片
    function flush_verificationCode()
    {
        var src=$("#verificationCode_img").children("img").attr("data-src");
        $("#verificationCode_img").children("img").attr("src",src+"?T="+Math.random());
    }
    //显示错误信息
    function show_error_msg(str)
    {
        $("#error_msg").css("display","block");
        $("#error_msg").text(str);
    }
    //隐藏错误信息
    function hide_error_msg()
    {
        $("#error_msg").css("display","none");
        $("#error_msg").text("");
    }
    /**
     * 具有确认按钮的提示框
     * @param state 状态
     * @param message 信息
     */
    function show_alert(state,message)
    {
        $("#my_alert").remove();
        $("body").append("<div class='am-modal am-modal-alert' tabindex='-1' id='my_alert'><div class='am-modal-dialog'><div class='am-modal-hd'>"+state+"</div><div class='am-modal-bd'>"+message+"</div><div class='am-modal-footer'><span class='am-modal-btn'>确定</span></div></div></div>");
        $('#my_alert').modal();
    }
</script>
</body>
</html>